<h1 class="text-success">Live Diretivas</h1>

 <div 
    [ngStyle]="{background: count < 5 ? 'red' :'green'}" 
    [ngClass]="{custom: count > 5}"
 > <!--red = menor, green = maior -->

    <h2 class="text-center">Contador: {{count}}</h2>

</div>

<!-- Diretivas Estruturais -->

<h2 *ngIf="count >7; else menor"> O contador passou de 7!</h2>

<ng-template #menor>
    <h2> O contador é menor do que 7!</h2>

</ng-template> <!-- #name é o identificador -->

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li 
        class="list-group-item"
        *ngSwitchCase="1">É igual a 1
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="2">É igual a 2
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="3">É igual a 3
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="4">É igual a 4
    </li>
</ul>

 <ul  class="list-group mx-auto col-3"> 
    <li 
        class="list-group-item"
        *ngFor="let pessoa of pessoas"
    
    >
        o nome da pessoa é {{pessoa.nome}} {{pessoa.sobrenome}}
    </li>

</ul>
<br>
<div class="col-4 mx-auto">
    <button class="btn btn-success" (click)="clicou('Anne')"> Clique aqui !</button>
</div>
<div class="col-4 mx-auto">
    <input type="text" class="form-control" placeholder="digite alguma coisa" [(ngModel)]="text">
    <h4>Saida: {{text}}</h4>
</div>